<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
    <head>

        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Dinaru - Dashboard</title>
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- CSS
        ================================================== -->
        <!-- Normalize default styles -->
        <link rel="stylesheet" href="css/normalize.css" media="screen" />
        <!-- Fonts -->
        <link rel="stylesheet" href="css/fonts.css" media="screen" />
        <!-- Base Template Styles-->
        <link rel="stylesheet" href="css/base.css" media="screen" />
        <!-- Site Styles-->
        <link rel="stylesheet" href="css/style.css" media="screen" />
        <!-- Superfish -->
        <link rel="stylesheet" href="css/superfish.css" media="screen" />

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon
        ================================================== -->
        <link rel="shortcut icon" href="images/favicon.ico">

    </head>
    <body class="logged dashboard-page">

        <!-- Primary Page Layout
        ================================================== -->

        <!-- BEGIN WRAPPER -->
        <div id="wrapper">


            <!-- BEGIN HEADER -->
            <header id="header">

                <div class="container clearfix">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="#"><img src="images/logo-small.png" alt=""></a>
                    </div>
                    <!-- /Logo -->

                    <!-- Admin Bar -->
                    <ul id="admin-bar" class="sf-menu">
                        <li><a href="#">Welcome, info@dinaru.com</a>
                            <ul>
                                <li><a href="#">Edit Profile</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /Admin Bar -->

                    <!-- Alerts Bar -->
                    <ul id="alerts-bar" class="sf-menu alerts-bar">
                        <li><a href="#"><i class="icon icon-bell"></i></a>
                            <ul>
                                <li class="warning">
                                    <strong>Urgent!</strong>
                                    You currently have 2 bills pending.
                                </li>
                                <li class="warning">
                                    <strong>Urgent!</strong>
                                    You currently have 2 bills pending.
                                </li>
                                <li class="warning">
                                    <strong>Urgent!</strong>
                                    You currently have 2 bills pending.
                                </li>
                                <li class="warning">
                                    <strong>Urgent!</strong>
                                    You currently have 2 bills pending.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /Alerts Bar -->


                </div>

            </header>
            <!-- END HEADER -->


            <!-- BEGIN DASHBOARD -->
            <nav class="main-nav">
                <div class="container clearfix">
                    <ul class="main-nav-list">
                        <li class="current"><a href="#">Inicio</a></li>
                        <li><a href="#">Objetivos</a></li>
                        <li><a href="#">Movimientos</a></li>
                        <li><a href="#">Análisis</a></li>
                        <li><a href="#">Ahorro</a></li>
                        <li><a href="#">Cuentas</a></li>
                    </ul>
                </div>
                <div class="main-nav-shadow"></div>
            </nav>
            <!-- END DASHBOARD -->


            <!-- BEGIN CONTENT HOLDER -->
            <div id="content-wrapper">
                <div class="container">

                    <div class="clearfix">
                        <aside id="sidebar">

                            <!-- Box (Mi Dinero) -->
                            <div class="box box__mini">
                                <div class="box-title">
                                    <h2>Mi Dinero</h2>
                                </div>

                                <div class="box-content">

                                    <!-- Inner box -->
                                    <div class="inner-box">
                                        <div class="inner-box-head">
                                            <h3>Cuentas Gastos</h3>
                                        </div>
                                        <div class="inner-box-content">

                                            <!-- Values table -->
                                            <table class="values-table">
                                                <tbody>
                                                    <tr>
                                                        <td class="ico">
                                                            <img src="images/icon1.jpg" height="30" width="30" alt="">
                                                        </td>
                                                        <td class="name">
                                                            <span>Santander</span>
                                                        </td>
                                                        <td class="value"><span class="pos">780€</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ico">
                                                            <img src="images/icon2.jpg" height="30" width="30" alt="">
                                                        </td>
                                                        <td class="name">
                                                            <span>Popular</span>
                                                        </td>
                                                        <td class="value"><span class="pos">1789€</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- /Values table -->

                                        </div>
                                    </div>
                                    <!-- /Inner box -->



                                    <!-- Inner box -->
                                    <div class="inner-box">
                                        <div class="inner-box-head">
                                            <h3>Tarjetas de crédito</h3>
                                        </div>
                                        <div class="inner-box-content">

                                            <!-- Values table -->
                                            <table class="values-table">
                                                <tbody>
                                                    <tr>
                                                        <td class="ico">
                                                            <img src="images/icon2.jpg" height="30" width="30" alt="">
                                                        </td>
                                                        <td class="name">
                                                            <span>Box Gold</span>
                                                        </td>
                                                        <td class="value"><span class="neg">-49€</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- /Values table -->

                                        </div>
                                    </div>
                                    <!-- /Inner box -->



                                    <!-- Inner box -->
                                    <div class="inner-box">
                                        <div class="inner-box-head no-bottom-margin">
                                            <h3>Ahorro</h3>
                                        </div>
                                        <div class="inner-box-content">
                                            <!-- Values table -->
                                            <table class="values-table values-table__alt">
                                                <tfoot>
                                                    <tr>
                                                        <td class="name" colspan="2">Total:</td>
                                                        <td class="value">
                                                            <span class="neg">-985€</span>	
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr class="thead">
                                                        <td colspan="3">Cuenta de Ahorros</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ico">
                                                            <img src="images/icon3.jpg" height="30" width="30" alt="">
                                                        </td>
                                                        <td class="name">
                                                            <span>Emergency Fund</span>
                                                        </td>
                                                        <td class="value"><span class="pos">3850€</span></td>
                                                    </tr>
                                                    <tr class="thead">
                                                        <td colspan="3">Depósitos</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ico">
                                                            <img src="images/icon3.jpg" height="30" width="30" alt="">
                                                        </td>
                                                        <td class="name">
                                                            <span>Banco Espíritu Santo</span>
                                                        </td>
                                                        <td class="value"><span class="pos">20,000€</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- /Values table -->

                                        </div>
                                    </div>
                                    <!-- /Inner box -->
                                </div>

                                <footer class="box-footer">
                                    <a href="#" class="btn full-width">+ &nbsp; Add Account</a>
                                </footer>
                            </div>
                            <!-- /Box (Mi Dinero) -->

                        </aside>
                        <div id="content" >

                            <!-- Box (Este Mes) -->
                            <div class="box box__mini">
                                <div class="box-title">
                                    <h2>Este Mes</h2>
                                </div>

                                <div class="box-content">

                                    <!-- Overall -->
                                    <div class="overall-holder">
                                        <table class="overall" cellpadding="0">
                                            <tr>
                                                <td class="overall-cats">
                                                    <table>
                                                        <tr>
                                                            <td class="name">Ingresos</td>
                                                            <td class="sum pos">1.400€</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="name">Gastos</td>
                                                            <td class="sum out">600€</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="name">Ahorro Mensual</td>
                                                            <td class="sum pos">300€</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="amount pos">
                                                    <strong class="num">500€</strong>
                                                    Aun puedes Gastar
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /Overall -->

                                </div>
                            </div>
                            <!-- /Box (Este Mes) -->

                            <!-- Box (Para que quieres ahorrar) -->
                            <div class="box box__mini">
                                <div class="box-title">
                                    <h2>Para que quieres ahorrar</h2>
                                </div>

                                <div class="box-content">

                                    <div class="clearfix">
                                        <div class="one_third">

                                            <!-- Simple Box -->
                                            <div class="simple-box">
                                                <div class="simple-box-head">
                                                    <h4>Viaje a Tailandia</h4>
                                                </div>
                                                <div class="simple-box-content">

                                                    <div class="clearfix">
                                                        <div class="percent-holder">
                                                            <div class="percent-inner">
                                                                <span class="num">60%</span>
                                                                <div class="percent-filled" style="height:60%"></div>
                                                                <div class="percent-mask"></div>
                                                            </div>
                                                        </div>
                                                        <div class="total-holder">
                                                            <ul>
                                                                <li>
                                                                    <strong>1.500€</strong>
                                                                    Total
                                                                </li>
                                                                <li>
                                                                    <strong>150€</strong>
                                                                    Ahorro mensual
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /Simple Box -->

                                        </div>
                                        <div class="one_third">

                                            <!-- Simple Box -->
                                            <div class="simple-box">
                                                <div class="simple-box-head">
                                                    <h4>Viaje a Tailandia</h4>
                                                </div>
                                                <div class="simple-box-content">

                                                    <div class="clearfix">
                                                        <div class="percent-holder">
                                                            <div class="percent-inner">
                                                                <span class="num">40%</span>
                                                                <div class="percent-filled" style="height:40%"></div>
                                                                <div class="percent-mask"></div>
                                                            </div>
                                                        </div>
                                                        <div class="total-holder">
                                                            <ul>
                                                                <li>
                                                                    <strong>1.500€</strong>
                                                                    Total
                                                                </li>
                                                                <li>
                                                                    <strong>150€</strong>
                                                                    Ahorro mensual
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /Simple Box -->

                                        </div>
                                        <div class="one_third last">


                                            <!-- Simple Box -->
                                            <div class="simple-box dashed empty centered">
                                                <div class="simple-box-content">
                                                    <div class="empty-icon"></div>
                                                    <a href="#" class="disabled">+ Add a Goal</a>
                                                </div>
                                            </div>
                                            <!-- /Simple Box -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /Box (Para que quieres ahorrar) -->

                            <!-- Box (Próximos Pasos) -->
                            <div class="box box__mini">
                                <div class="box-title">
                                    <h2>Próximos Pasos</h2>
                                </div>

                                <div class="box-content">
                                    <div class="started-block centered">
                                        <div class="started-txt">
                                            Dinaru can help you get into financial shape by guiding you through easy, manageable steps
                                        </div>
                                        <a href="#" class="btn btn-large btn-primary">Get Started</a>
                                    </div>
                                </div>

                                <footer class="box-footer box-footer-alt">
                                    <ul class="achievements clearfix">
                                        <li>Achievements</li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                        <li class="item-empty"></li>
                                    </ul>
                                </footer>
                            </div>
                            <!-- /Box (Próximos Pasos) -->

                        </div>
                    </div>

                </div>
            </div>
            <!-- END CONTENT HOLDER -->


            <!-- BEGIN FOOTER -->
            <footer id="footer">

                <div class="container clearfix">

                    <!-- Quick Message -->
                    <div class="quick-message-holder">
                        <form action="#" class="quick-message">
                            <p class="form-desc">Need help? Send us your questions.</p>
                            <textarea name="q-textarea" id="q-textarea" cols="30" rows="10"></textarea>
                            <input type="submit" value="Send" class="full-width">
                        </form>
                    </div>
                    <!-- /Quick Message -->

                    <!-- Footer Info -->
                    <div class="footer-info">
                        <img src="images/footer-info.jpg" alt="" class="footer-info-img"><br>
                        Dinaru Employs Bank Level Security
                    </div>
                    <!-- /Footer Info -->


                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="logo-footer">
                            <img src="images/logo-footer.png" height="43" width="147" alt="">
                        </div>
                        &copy; 2013 Dinaru. All rights reserved.
                    </div>
                    <!-- /Copyright -->



                </div>

            </footer>
            <!-- END FOOTER -->


        </div>
        <!-- END WRAPPER -->


        <!-- Javascript Files
        ================================================== -->

        <!-- initialize jQuery Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/jquery-migrate-1.1.1.min.js"></script>
        <!-- Modernizr -->
        <script type="text/javascript" src="js/modernizr.custom.14583.js"></script>
        <!-- Top Menu (Superfish menu based) -->
        <script type="text/javascript" src="js/jquery.superfish-1.5.9.js"></script>
        <!-- Dropkick (Custom Select) -->
        <script type="text/javascript" src="js/jquery.dropkick-1.0.0.js"></script>

        <!-- Custom -->
        <script type="text/javascript" src="js/custom.js"></script>

    </body>
</html>